h1 {
  text-align: center;
  text-transform: uppercase;
  color: #008cff;
  cursor: pointer;
}

.App-section {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-around;
}
.side-bar-routes {
  display: flex;
}

.validation-error{
  
  text-align: center;
  margin: 100px 10px 10px 10px;
  color:red;
  text-transform: uppercase;
  font-weight: 700;
}